$font-family-sans-serif: "Source Sans Pro", serif;

.jtitle {
    font-family: "Merriweather", serif;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin: 5px;
    text-align: center;
}
